header {
    display: flex;
    justify-content: space-between;
   
    padding: 1%;
    background-color: #f97777;
    color: aqua;
  }


h2{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aqua;
}

body{
    background-color: rgb(33, 8, 57);
}

p{
    justify-content: center;
    color: aqua;
    display: block;
    text-align: center;
}
fieldset{
    display: hidden;
}
button{
    background-color: aqua;
    color: palevioletred;
   
    justify-content: center;
 align-items: center;
text-align: center;
}

.answerButtons{
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
}
#start{ 
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    
}
a{
    background-color: aqua;
    color: palevioletred;
   
    justify-content: center;
 align-items: center;
text-align: center;
}
h1{
    
    color: aqua
    
}